body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    overflow-x: hidden;
    background-color: #ffffff;
}

:root {
    --main-color: #7857fe;
    --color-1: #e91e63;
    --color-2: #f5ae10;
    --color-3: #09d69c;
    --bg-dark: #2b2c2f;
    --main-to-dark-color: var(--main-color);
    --dark-to-main-color: var(--bg-dark);
    --shadow-black-100: 0 5px 15px rbga(0, 0, 0, 0.1);
    --shadow-black-300: 0 5px 15px rbga(0, 0, 0, 0.3);
    --black-900: #000000;
    --black-400: #57575757;
    --black-100: #f7f7f7;
    --black-000: #ffffff;
    --black-alpha-100: rbga(0, 0, 0, 0.5);
}
*{
    margin: 0;
    padding: 0;
    outline: none!important;
}
img{
    width: 100%;
    vertical-align: middle;
}
ul{
    list-style: none;
}
/* navbar */
.navbar{
    background: var(--main-color);
}
